body {
    margin: 0;
    font-family: Arian, sans-serif;
    background-color: rgb(194, 194, 194)
}

.inicio {
    display: flex;
    height: 100vh;
}

.foto {
    flex: 1;
    background-color: rgb(158, 162, 165);
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto img {
    width: 250px;
    height: auto;
    border-radius: 8px;
}

.infos {
    flex: 2;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infos h1 {
    font-size: 48px;
    margin: 0;
    color: rgb(115, 136, 155);
}

.infos h2 {
    font-size: 24px;
    color: rgb(141, 166, 189);
    margin-top: 10px;
}